.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 29.34px;
  margin: 0;
}

@media screen and (max-width: 976px) {
  .place__text {
      font-size: 16px;
      line-height: 26.08px;
  }
}


.place__text:nth-last-child(n+2) {
  padding-bottom: 26px;
}

@media screen and (max-width: 976px) {
  .place__text:nth-last-child(n+2) {
      padding-bottom: 25px;
  }
}