.place__paragraph {
  max-width: 484px;
  margin: 0;    
}



@media screen and (max-width: 1100px) {
  .place__paragraph {
      max-width: 456px;
  }
}

@media screen and (max-width: 700px) {
  .place__paragraph {
      max-width: 100%;
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 32px;
  }
}

@media screen and (max-width: 650px) {
  .place__paragraph {
      margin-left: 16px;
      margin-right: 16px;
  }
}